img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.pro{
    line-height: 16px;
    max-height: 32px;
}
.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.btn-pro{
    float: right;
}
.btn-adm{
    width: 150px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}